@charset "UTF-8";
/* CSS Document */

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

header {
	padding: 32px;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:65%;
}


.style-nav ul {
	list-style-type: none;
	background-color: #e3cca4;
	padding:10px;
	word-spacing: 30px;
		
}

.style-nav ul li a {
	text-decoration: none;
	color: #002955;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
	
}


	
div.column {
  text-align: center;
	padding: 10px;
		
}


ul.mylist {
  display: inline-block;
  text-align: left;
margin-top: 10px;
	margin-bottom: 110px;
}


h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 10px;
	text-align: center;
	color: #e3cca4;
}


p {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: 10px;
	text-align: center;
	padding: 10px ;
	color: #002955;
	line-height: 25pt;
}





.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.column {
    flex: 100%;
    max-width: 100%;


  }

.column img {
  margin-top: 8px;
  vertical-align: middle;
padding: 0 4px;
}


Footer  {

text-align: center;
font-size: 10px;
	       position: fixed;     
 bottom: 0px

}



/*Tablet View*/

@media (min-width: 768px){
	.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
		width:25%;
}
	
	.style-nav ul li {
		display: inline-block;
	}
	


.style-nav ul {
	list-style-type: none;
	background-color: #e3cca4;
	padding:10px;
	word-spacing: 40px;
		
}



h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 10px;
	text-align: center;
	color: #e3cca4;
}


p {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: 10px;
	text-align: center;
	padding: 10px ;
	color: #002955;
	line-height: 25pt;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px 10px 50px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;


  }
	
}
/*Desktop View*/

@media (min-width: 1024px){
	
	.style-logo {
		float: left;
		width:25%;

	}
	
	.style-nav {
		float: right;
	}
	
.style-nav ul {
	list-style-type: none;
	background-color: #e3cca4;
	margin-top: 110px;
	padding:10px;
	word-spacing: 30px;
		
}


h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: 180px;
	margin-bottom: 10px;
	text-align: center;
	color: #e3cca4;
}


p {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: 10px;
	text-align: center;
	padding: 10px ;
	color: #002955;
	line-height: 25pt;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px 10px 50px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;


  }
}